@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;  
}

html, body{
  height: 100%;
}

body {
  background: silver;
}

header {
  height: 70px;
  width: 100%;
  position: absolute;
}

nav {
  font-family: 'Roboto Mono', sans-serif;
  margin: 30px 20px;
  float: right;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 270px;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
}

nav a {
  color: white;
  text-decoration: none;
}

.principal {
  background: url("./assets/fundo-misto.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(53, 60, 71, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: white;
}

blockquote {
  text-align: center;
  color: white;
}

.sobre {
  margin: 10px 0;
}

.container {
  display: flex;
  height: 300px;
}

.card {
  flex: 1;
  height: 100%;
  background: black;
  margin: 50px;
  border-radius: 40px;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
}

.card h3 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
}

h2{
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.cronograma{
  padding: 70px 0;
  display: flex;
  flex-direction: column;
}

.conteudo {
  display: flex;
  justify-content: space-around;
}

.conteudo ul {
  list-style: none;
}

.item{
  background: white;
  margin-top: 10px;
  padding: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.item img{
  max-width: 300px;
}

.item label {
  font-size: 16px;
  margin-left: 5px;
}

.contact{
  background: white;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p{
  font-size: 20px;
  margin: 20px 0;
}

.input{
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 20px;
}

textarea{
  border: 2px solid black;
  border-radius: 3px;
  width: 100%;
  font-size: 20px;
  resize: none;
}

#submit{
  padding: 10px 40px;
  border: 3px solid black;
  font-size: 20px;
  text-transform: uppercase;
  background: black;
  color: white;
  border-radius: 3px;
  display: flex;
  margin: 0 auto;
}

#submit:hover{
  background: white;
  color: black;
  cursor: pointer;    
}